Repository GalOrrery/interpolated-coordinates, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, testing, installation, Release, coordinates, utils

fix oldestdeps in tox
  tox.ini
Labels: testing

add clocale
  tox.ini
Labels: testing

run pre-commit faster
  .github/workflows/ci_tests.yml
  tox.ini
Labels: testing

deprecate 32 bit and parallel
  .github/workflows/ci_tests.yml
Labels: testing

remote data source
  .github/workflows/ci_tests.yml
Labels: testing

misc configs
  .gitignore
  .readthedocs.yml
  pyproject.toml
  setup.cfg
Labels: installation

add to pytest scope
  interpolated_coordinates/conftest.py
Labels: testing, coordinates

add open action
  .github/workflows/open_actions.yml
Labels: testing

add pytest to conftest
  interpolated_coordinates/conftest.py
  pyproject.toml
  setup.cfg
Labels: testing, installation, coordinates

bump min astropy version
  tox.ini
Labels: testing

.github/labeler.yml:

Docs:
  - docs/*
  - docs/_static/*
  - docs/_templates/*
  - docs/development/**/*
  - docs/whatsnew/*
  - examples/**/*
  - licenses/*
  - CITATION
  - .mailmap
  - readthedocs.yml
  - '*.md'
  - any: ['*.rst', '!CHANGES.rst']

testing:
  - codecov.yml
  - conftest.py
  - '**/conftest.py'
  - azure-pipelines.yml
  - tox.ini
  - .circleci/*
  - .github/**/*.yml
  - .pep8speaks.yml
  - .pyinstaller/**/*

installation:
  - docs/install.rst
  - MANIFEST.in
  - pip-requirements
  - pyproject.toml
  - setup.*

Release:
  - docs/development/releasing.rst


coordinates:
  - interpolated_coordinates/*
  - interpolated_coordinates/tests/**/*
  - docs/index.rst

utils:
  - any: ['**/utils/**/*',]
